@import "./milligram.css";

body {
  background-color: #3e424d;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 20px 10px;
}

.logo img {
  height: 40px;
}

td {
  padding: 1px;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin: 0;
  list-style: none;
  padding: 20px;
}

.search-area {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ddd;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

input.search-input {
  margin-top: 15rem;
  width: 400px;
  font-size: 16px;
  background-color: white;
}

.version-form {
  width: 400px;
}

.version-area {
  display: flex;
  flex-direction: column;
}

input.search-input:focus {
  border-color: #ddd;
}

.suggestion {
  color: #eee;
  cursor: pointer;
  background: #714a94;
  padding: 2px 4px;
  border-radius: 5px;
  border-color: #714a94;
}

.suggestion:hover {
  background-color: #8154a8;
}

.select-area select {
  font-size: 16px;
  background-color: white;
}

.diff-button {
  background-color: #714a94;
  border-color: #714a94;
}

.diff-button:hover {
  background-color: #8154a8;
  border-color: #8154a8;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.message {
  margin-top: 15rem;
  font-size: 36px;
}

.message-container button {
  margin-top: 50px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
    .search-input {
      margin-top: 3rem;
      width: 200px;
    }
    .search-form {
      width: 200px;
    }
    .version-form {
      width: 200px;
    }
}

.ghd-container {
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
  color: #333;
  border-radius: 5px;
}

.ghd-file {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: white;
}

.ghd-file-header {
  padding: 10px;
  border-bottom: 0.1rem solid #e1e1e1;
}

.ghd-chunk-header .ghd-line-number {
  background-color: #f8fafd;
}

.ghd-file-status {
  color: #999;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0 3px;
  display: inline-block;
  text-transform: uppercase;
}

.ghd-file-status-removed {
  color: red;
  border-color: red;
}

.ghd-file-status-added {
  color: rgb(115, 148, 115);
  border-color: rgb(115, 148, 115);
}

.ghd-diff {
  overflow-y: hidden;
}

.ghd-chunk-header {
  background-color: #f8fafd;
  color: rgba(0,0,0,.3);
}

.ghd-line-number {
  position: absolute;
  width: 80px;
  background-color: white;
  display: flex;
  color: rgba(0,0,0,.3);
  border-right: 0.1rem solid #e1e1e1;
  cursor: pointer;
}

:target .ghd-line-number,
.ghd-line-type-add:target .ghd-line-number,
.ghd-line-type-remove:target .ghd-line-number {
  background-color: rgb(255, 251, 194);
}

.ghd-line-number-from {
  padding-left: 10px;
}

.ghd-line-number-to {
  padding: 0 10px;
}

.ghd-line-type-add {
  background-color: #dfd;
}

.ghd-line-type-add .ghd-line-number {
  background-color: #dfd;
}

.ghd-line-type-remove {
  background-color: #fee8e9;
}

.ghd-line-type-remove .ghd-line-number {
  background-color: #fee8e9;
}

.ghd-line-number div {
  width: 35px;
}

.ghd-text-internal {
  white-space: pre;
}

.ghd-text-internal {
  padding: 0 90px;
}
