<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Web based diffs of Hex packages for Elixir.">
    <title>diff.hex.pm</title>

    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/favicon.png") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container header">
        <h1 class="logo">
          <a href="/">
            <img src="<%= Routes.static_path(@conn, "/images/diff-hex-pm-dark.png") %>" alt="hex.diff.pm"/>
          </a>
        </h1>
      </section>
    </header>
    <main role="main" class="main container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
