<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Web based diffs of Hex packages">
    <title><%= @package %> hexdiff</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <%= if host = Application.get_env(:diff, :host) do %>
    <script async defer data-domain="<%= host %>" src="https://stats.<%= Application.fetch_env!(:diff, :hexpm_host) %>/js/plausible.js"></script>
    <% end %>
  </head>
  <body>
    <header>
      <section class="header">
        <div class="container">
          <h1 class="logo">
            <a href="/">
              <img src="<%= Routes.static_path(@conn, "/images/hexdiff.svg") %>" alt="hexdiff"/>
            </a>

            <%= if @package do %>
              <h2 class="package-header"><%= @package %> <%= @from %> &rarr; <%= @to %></h2>
            <% end %>
          </h1>
        </div>
      </section>
    </header>

    <main role="main" class="main container">
